<section class="hero has-text-centered " id="home">
    <div class="hero-body">
        <div class="container has-text-left-desktop has-text-left-tablet">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <br>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <br>
                    <div class="container columns is-centered">
                            <div>
                                <a href="{{site.url}}{{site.baseurl}}/#papers"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Selected Papers</a>
                                </a>
                            </div>
                            <div>
                                <a href="mailto:{{site.email}}"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Send Me An Email</a>
                                </a>
                            </div>
                            <div>
                                <a href="https://scholar.google.de/citations?user=FQOFw5cAAAAJ&hl=de"
                                    class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">All Publications</a>
                                </a>
                            </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
</section>

<section class="hero has-text-centered has-background-white-ter" id="research">
    <div class="hero-body">
        <div class="container has-text-left-desktop has-text-left-tablet">
            <p class="subtitle is-uppercase has-text-weight-medium has-text-grey">Research interest</p>
            <p>I work toward embodied artificial intelligence that helps us tackle general problems while remaining safe and ethical. Inspired by how humans and other animals adaptively learn and act, my research bridges cognitive science, model-based reinforcement learning, and foundation models for decision-making, and is organized along three directions:</p> <br>
            <p><b>1. Compositional world models.</b> Agents that <i>imagine</i> possible futures by composing reusable, structured knowledge of how the world works. <i>Representative work:</i> <a href="https://arxiv.org/pdf/2110.15949">GateL0RD</a> (NeurIPS 2021), <a href="https://openreview.net/pdf?id=TjCDNssXKU">THICK world models</a> (ICLR 2024).</p> <br>
            <p><b>2. Semantic reward models.</b> Agents that <i>verify</i> whether imagined outcomes satisfy user-defined goals, using language-based foundation models. <i>Representative work:</i> <a href="https://arxiv.org/abs/2503.01584">SENSEI</a> (ICML 2025), Demo2Reward (RLC 2026).</p> <br>
            <p><b>3. Cognitive-inspired decision-making.</b> Agents that <i>act</i> through both hierarchical, temporally abstract planning and fast, reactive policies, drawing on how humans make decisions. <i>Representative work:</i> <a href="https://rdcu.be/cFGsE">Hierarchical RL perspective</a> (Nature Machine Intelligence, 2022), <a href="https://arxiv.org/pdf/2206.02042.pdf">HierarchicalGateL0RD</a> (ICDL 2022).</p> <br>
        </div>
    </div>
</section>