<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns has-text-left-desktop has-text-left-tablet">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                </div>
            </div>
            <br>
            <p> <b>Research interest:</b> I am fascinated by the questions of how humans and other animals learn from adaptive behavior from their experience. My research goal is to help the development of autonomous embodied agents with a similar skillset. To work towards this goal, I follow two research directions: </p>
                    <p> <b>1. AI research:</b> I research inductive biases and computational mechanisms that improve the autonomous learning and problem-solving capabilities of artificial agents.  This includes research on temporal abstractions, world models, and intrinsic motivation. </p>
                    <p> <b>2. Cognitive modeling:</b> I employ similar methods for computational cognitive models to research the mechanisms and representations that give rise to the adaptive behavior found in natural agents. This includes modeling epistemic gaze behavior and multimodal speech processing. </p>
                    <p> As you can probably tell, I have a broad research interest in various topic including reinforcement learning, hierarchical planning, multimodal representation learning, and causal discovery in both natural and artificial intelligence. </p>
                    <br>
                    <div class="container columns is-centered">
                        <div>
                            <a href="{{site.url}}{{site.baseurl}}/blog"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Selected Papers</a>
                            </a>
                        </div>
                        <div>
                            <a href="mailto:{{site.email}}"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Send Me An Email</a>
                            </a>
                        </div>
                        <div>
                            <a href="https://scholar.google.de/citations?user=FQOFw5cAAAAJ&hl=de"
                                class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">All Publications</a>
                            </a>
                        </div>
                    </div>
                    <br>
                    <div class="column is-full is-size-3">
                    <a href="https://twitter.com/intent/user?screen_name={{site.twitter_username}}" target="_blank" class="has-text-black"><i class="fa fa-twitter-square"></i></a>
                        <a href="http://www.github.com/{{site.github_username}}" target="_blank" class="has-text-black"><i class="fab fa-github"></i></a>
                    <a href="http://open.spotify.com/user/{{site.spotify_username}}" target="_blank" class="has-text-black"><i class="fab fa-spotify"></i></a>
                    </div>
            </div>
        </div>
</section>
